

*{cursor:url(pointer.png),auto;}

body {
	margin: 0px auto;
	overflow-x: hidden;
	background-color: #272822;


} 

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.white{color: white;}
.pink{color: #F92672;}
.text{color: #E6DB74;}
.green{color: #A6E22E;}
.gray{color: #90908A;
margin: 0px;}

#numbers {
	display: block;
	float: left;
	width: 60px;
	font-family: 'Source Code Pro', monospace;
	color: white;
	font-size: 20pt;
	margin-left: 10px;
	margin-top: 10px;

}

article {
	display: block;
	font-family: 'Source Code Pro', monospace;
	color: white;
	font-size: 20pt;
	width: 80vw;
	float: left;
	margin-top: 10px;
}

@media screen and (max-width: 670px) {

	article {
	font-size: 4vw;
	width: 80vw;
}

#numbers {
	font-size: 4vw;
	width: 10vw;


}


}

